@font-face {
  font-family: "Robot";
  src: url("../../vendor/Roboto-Medium.woff");
}

@font-face {
  font-family: "Playwrite";
  src: url("../../vendor/PlaywriteNZ-VariableFont_wght.ttf");
}

.card_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-section-header {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
  align-items: center;
}

.card-section-text {
  font-family: "Playwrite";
  font-size: 20px;
  color: white;
  margin-left: auto;
  padding: 0;
}

.card-section-button {
  font-family: "Roboto";
  font-size: 20px;
  color: rgba(192, 148, 255, 0.9);
  background-color: transparent;
  border: 1px solid white;
  margin-right: auto;
  padding: 0;
  border-radius: 48px;
  width: 130px;
  height: 30px;
  cursor: pointer;
}

.card-section-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card-section__items {
  display: flex;
  row-gap: 18px;
  column-gap: 18px;
  list-style-type: none;

  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 350px) {
  .card-section-header {
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
  }

  .card-section-button {
    margin-right: 0;
  }

  .card-section-text {
    margin-left: 0;
  }
}
