@font-face {
  font-family: "Roboto";
  src: url("../../vendor//Roboto-Medium.woff");
}

.about {
  min-height: 624px;
  padding: 0 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.about__container {
  display: flex;
  align-items: center;
}

.about__avatar-image {
  border-radius: 50%;
  width: 464px;
  height: 464px;
  margin-left: -108px;

  gap: 0px;
  opacity: 0px;
}

.about__text {
  margin-left: 52px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 13px;
  color: black;
}

.about__text-author {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
}

.about__text-bio {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
