@font-face {
  font-family: "Roboto";
  src: url("../../vendor/Roboto-Medium.woff");
}

@font-face {
  font-family: "Playwrite";
  src: url("../../vendor/PlaywriteNZ-VariableFont_wght.ttf");
}

.modal__content_type_image {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
}

.modal__image {
  max-width: 498px;
  height: 498px;
  width: 100%;
  overflow: contain;
  margin: 0;
  padding: 0;
}

.modal__close {
  width: 20px;
  height: 20px;
  right: 24px;
  top: 24px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__footer {
  margin-left: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.modal__song {
  margin-top: 19px;
  margin-bottom: 12px;
  margin-left: 20px;
  font-family: "Playwrite";
  color: rgba(192, 148, 255, 0.9);
}

.modal__artist {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: white;
}

.modal__button {
  position: absolute;
  bottom: 20px;
  left: 355px;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ff4d00;
  padding: 0;
}

.modal__button:hover {
  cursor: pointer;
}
