.container {
  display: flex;
  text-align: center;
}

.now-playing__name {
  font-size: 30px;
}

.now-playing__artist {
  font-size: 18px;
  margin-bottom: 12px;
}

.btn-spotify {
  background-color: transparent;
  gap: 10px;
}

@media screen and (max-width: 666px) {
  .now-playing__cover {
    width: calc(100% - 10%);
    height: calc(100% - 10%);
  }

  .now-playing__name {
    font-size: 20px;
  }
}
